[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "1.4.0"
torchvision = "*"
tqdm = "*"
opencv-python = "==4.2.0.32"

[dev-packages]

[requires]
python_version = "2.7"
